<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="3gB9dKJy3OEOfBDFjyygUv7UEtbCLSaSsj1iRgGMLqM" />
  <meta name="naver-site-verification" content="3c1362974d453b6fe1fdd5089325e29980b1369e" />

  {% include_cached favicon.html %}

  <link rel="stylesheet" href="{{ '/assets/css/just-the-docs.css' | relative_url }}">
  <script defer src="{{ '/assets/js/dark-theme.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/vendor/lunr.stemmer.support.min.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/vendor/lunr.multi.min.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/vendor/lunr.ko.min.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/fslightbox.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/lazysizes.min.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/highlight.min.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/just-the-docs.js' | relative_url }}"></script>

  {% seo %}
</head>
