{% if include.image_src %}
<div class="image-flex">
  <div class="image-item">
    <div class="image-item-img">
      <a data-fslightbox="{{include.image_src}}" href="{{include.image_src}}" data-type="image"
         aria-label="This is fslightbox">
        <div class="skeleton_loading">
          <div class="skeleton_img"></div>
        </div>
        <img data-src="{{include.image_src}}" alt="" title="" width="500" height="300" class="lazyload" style="display: flex" />
      </a>
    </div>
  </div>
</div>
{% endif %}